In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline 
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import export_graphviz
import matplotlib.pyplot as plt
import seaborn as sns

import lightgbm as lgbm
import gc
import xgboost as xgb
from sklearn.linear_model import ElasticNet, Lasso, Ridge, LinearRegression
import pickle
from sklearn.model_selection import KFold
from catboost import CatBoostRegressor

In [9]:
transactions    = pd.read_csv('sales_train.csv.gz')
items           = pd.read_csv('items.csv')
item_categories = pd.read_csv('item_categories.csv')
shops           = pd.read_csv('shops.csv')
test            = pd.read_csv('test.csv.gz')

In [10]:
INDEX_COLS = ['item_id', 'shop_id', 'date_block_num']

In [11]:
transactions = pd.merge(transactions, items, on='item_id', how='left')
transactions = transactions.drop('item_name', axis=1)
transactions = transactions[transactions['date_block_num'] > 12]
transactions.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id
1366911,01.02.2014,13,27,15242,699.0,1.0,63
1366912,25.02.2014,13,27,15200,299.0,1.0,69
1366913,19.02.2014,13,27,15279,799.0,1.0,63
1366914,26.02.2014,13,27,15202,299.0,1.0,69
1366915,01.02.2014,13,27,14888,549.0,1.0,55

In [ ]:
len(transactions)

In [ ]:
np.append(test_item_ids,train_item_ids)

In [34]:
train_item_ids = transactions['item_id'].unique()
train_shop_ids = transactions['shop_id'].unique()
test_item_ids = test['item_id'].unique()
test_shop_ids = test['shop_id'].unique()
train_blocks = transactions['date_block_num'].unique()

all_item_ids = np.unique(np.append(test_item_ids,train_item_ids))
all_shop_ids = np.unique(np.append(train_shop_ids,test_shop_ids))

In [108]:
items[['item_id', 'item_category_id']].to_dict('dict')

{'item_id': {0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
  13: 13,
  14: 14,
  15: 15,
  16: 16,
  17: 17,
  18: 18,
  19: 19,
  20: 20,
  21: 21,
  22: 22,
  23: 23,
  24: 24,
  25: 25,
  26: 26,
  27: 27,
  28: 28,
  29: 29,
  30: 30,
  31: 31,
  32: 32,
  33: 33,
  34: 34,
  35: 35,
  36: 36,
  37: 37,
  38: 38,
  39: 39,
  40: 40,
  41: 41,
  42: 42,
  43: 43,
  44: 44,
  45: 45,
  46: 46,
  47: 47,
  48: 48,
  49: 49,
  50: 50,
  51: 51,
  52: 52,
  53: 53,
  54: 54,
  55: 55,
  56: 56,
  57: 57,
  58: 58,
  59: 59,
  60: 60,
  61: 61,
  62: 62,
  63: 63,
  64: 64,
  65: 65,
  66: 66,
  67: 67,
  68: 68,
  69: 69,
  70: 70,
  71: 71,
  72: 72,
  73: 73,
  74: 74,
  75: 75,
  76: 76,
  77: 77,
  78: 78,
  79: 79,
  80: 80,
  81: 81,
  82: 82,
  83: 83,
  84: 84,
  85: 85,
  86: 86,
  87: 87,
  88: 88,
  89: 89,
  90: 90,
  91: 91,
  92: 92,
  93: 93,
  94: 94,
  95: 95,
  96: 96,
  97: 97,
  98: 98,
  99: 99,
  100: 100,
  101: 101,
  102: 102,
  103: 103,
  104: 104,
  105: 105,
  106: 106,
  107: 107,
  108: 108,
  109: 109,
  110: 110,
  111: 111,
  112: 112,
  113: 113,
  114: 114,
  115: 115,
  116: 116,
  117: 117,
  118: 118,
  119: 119,
  120: 120,
  121: 121,
  122: 122,
  123: 123,
  124: 124,
  125: 125,
  126: 126,
  127: 127,
  128: 128,
  129: 129,
  130: 130,
  131: 131,
  132: 132,
  133: 133,
  134: 134,
  135: 135,
  136: 136,
  137: 137,
  138: 138,
  139: 139,
  140: 140,
  141: 141,
  142: 142,
  143: 143,
  144: 144,
  145: 145,
  146: 146,
  147: 147,
  148: 148,
  149: 149,
  150: 150,
  151: 151,
  152: 152,
  153: 153,
  154: 154,
  155: 155,
  156: 156,
  157: 157,
  158: 158,
  159: 159,
  160: 160,
  161: 161,
  162: 162,
  163: 163,
  164: 164,
  165: 165,
  166: 166,
  167: 167,
  168: 168,
  169: 169,
  170: 170,
  171: 171,
  172: 172,
  173: 173,
  174: 174,
  175: 175,
  176: 176,
  177: 177,
  178: 178,
  179: 179,
  180: 180,
  181: 181,
  182: 182,
  183: 183,
  184: 184,
  185: 185,
  186: 186,
  187: 187,
  188: 188,
  189: 189,
  190: 190,
  191: 191,
  192: 192,
  193: 193,
  194: 194,
  195: 195,
  196: 196,
  197: 197,
  198: 198,
  199: 199,
  200: 200,
  201: 201,
  202: 202,
  203: 203,
  204: 204,
  205: 205,
  206: 206,
  207: 207,
  208: 208,
  209: 209,
  210: 210,
  211: 211,
  212: 212,
  213: 213,
  214: 214,
  215: 215,
  216: 216,
  217: 217,
  218: 218,
  219: 219,
  220: 220,
  221: 221,
  222: 222,
  223: 223,
  224: 224,
  225: 225,
  226: 226,
  227: 227,
  228: 228,
  229: 229,
  230: 230,
  231: 231,
  232: 232,
  233: 233,
  234: 234,
  235: 235,
  236: 236,
  237: 237,
  238: 238,
  239: 239,
  240: 240,
  241: 241,
  242: 242,
  243: 243,
  244: 244,
  245: 245,
  246: 246,
  247: 247,
  248: 248,
  249: 249,
  250: 250,
  251: 251,
  252: 252,
  253: 253,
  254: 254,
  255: 255,
  256: 256,
  257: 257,
  258: 258,
  259: 259,
  260: 260,
  261: 261,
  262: 262,
  263: 263,
  264: 264,
  265: 265,
  266: 266,
  267: 267,
  268: 268,
  269: 269,
  270: 270,
  271: 271,
  272: 272,
  273: 273,
  274: 274,
  275: 275,
  276: 276,
  277: 277,
  278: 278,
  279: 279,
  280: 280,
  281: 281,
  282: 282,
  283: 283,
  284: 284,
  285: 285,
  286: 286,
  287: 287,
  288: 288,
  289: 289,
  290: 290,
  291: 291,
  292: 292,
  293: 293,
  294: 294,
  295: 295,
  296: 296,
  297: 297,
  298: 298,
  299: 299,
  300: 300,
  301: 301,
  302: 302,
  303: 303,
  304: 304,
  305: 305,
  306: 306,
  307: 307,
  308: 308,
  309: 309,
  310: 310,
  311: 311,
  312: 312,
  313: 313,
  314: 314,
  315: 315,
  316: 316,
  317: 317,
  318: 318,
  319: 319,
  320: 320,
  321: 321,
  322: 322,
  323: 323,
  324: 324,
  325: 325,
  326: 326,
  327: 327,
  328: 328,
  329: 329,
  330: 330,
  331: 331,
  332: 332,
  333: 333,
  334: 334,
  335: 335,
  336: 336,
  337: 337,
  338: 338,
  339: 339,
  340: 340,
  341: 341,
  342: 342,
  343: 343,
  344: 344,
  345: 345,
  346: 346,
  347: 347,
  348: 348,
  349: 349,
  350: 350,
  351: 351,
  352: 352,
  353: 353,
  354: 354,
  355: 355,
  356: 356,
  357: 357,
  358: 358,
  359: 359,
  360: 360,
  361: 361,
  362: 362,
  363: 363,
  364: 364,
  365: 365,
  366: 366,
  367: 367,
  368: 368,
  369: 369,
  370: 370,
  371: 371,
  372: 372,
  373: 373,
  374: 374,
  375: 375,
  376: 376,
  377: 377,
  378: 378,
  379: 379,
  380: 380,
  381: 381,
  382: 382,
  383: 383,
  384: 384,
  385: 385,
  386: 386,
  387: 387,
  388: 388,
  389: 389,
  390: 390,
  391: 391,
  392: 392,
  393: 393,
  394: 394,
  395: 395,
  396: 396,
  397: 397,
  398: 398,
  399: 399,
  400: 400,
  401: 401,
  402: 402,
  403: 403,
  404: 404,
  405: 405,
  406: 406,
  407: 407,
  408: 408,
  409: 409,
  410: 410,
  411: 411,
  412: 412,
  413: 413,
  414: 414,
  415: 415,
  416: 416,
  417: 417,
  418: 418,
  419: 419,
  420: 420,
  421: 421,
  422: 422,
  423: 423,
  424: 424,
  425: 425,
  426: 426,
  427: 427,
  428: 428,
  429: 429,
  430: 430,
  431: 431,
  432: 432,
  433: 433,
  434: 434,
  435: 435,
  436: 436,
  437: 437,
  438: 438,
  439: 439,
  440: 440,
  441: 441,
  442: 442,
  443: 443,
  444: 444,
  445: 445,
  446: 446,
  447: 447,
  448: 448,
  449: 449,
  450: 450,
  451: 451,
  452: 452,
  453: 453,
  454: 454,
  455: 455,
  456: 456,
  457: 457,
  458: 458,
  459: 459,
  460: 460,
  461: 461,
  462: 462,
  463: 463,
  464: 464,
  465: 465,
  466: 466,
  467: 467,
  468: 468,
  469: 469,
  470: 470,
  471: 471,
  472: 472,
  473: 473,
  474: 474,
  475: 475,
  476: 476,
  477: 477,
  478: 478,
  479: 479,
  480: 480,
  481: 481,
  482: 482,
  483: 483,
  484: 484,
  485: 485,
  486: 486,
  487: 487,
  488: 488,
  489: 489,
  490: 490,
  491: 491,
  492: 492,
  493: 493,
  494: 494,
  495: 495,
  496: 496,
  497: 497,
  498: 498,
  499: 499,
  500: 500,
  501: 501,
  502: 502,
  503: 503,
  504: 504,
  505: 505,
  506: 506,
  507: 507,
  508: 508,
  509: 509,
  510: 510,
  511: 511,
  512: 512,
  513: 513,
  514: 514,
  515: 515,
  516: 516,
  517: 517,
  518: 518,
  519: 519,
  520: 520,
  521: 521,
  522: 522,
  523: 523,
  524: 524,
  525: 525,
  526: 526,
  527: 527,
  528: 528,
  529: 529,
  530: 530,
  531: 531,
  532: 532,
  533: 533,
  534: 534,
  535: 535,
  536: 536,
  537: 537,
  538: 538,
  539: 539,
  540: 540,
  541: 541,
  542: 542,
  543: 543,
  544: 544,
  545: 545,
  546: 546,
  547: 547,
  548: 548,
  549: 549,
  550: 550,
  551: 551,
  552: 552,
  553: 553,
  554: 554,
  555: 555,
  556: 556,
  557: 557,
  558: 558,
  559: 559,
  560: 560,
  561: 561,
  562: 562,
  563: 563,
  564: 564,
  565: 565,
  566: 566,
  567: 567,
  568: 568,
  569: 569,
  570: 570,
  571: 571,
  572: 572,
  573: 573,
  574: 574,
  575: 575,
  576: 576,
  577: 577,
  578: 578,
  579: 579,
  580: 580,
  581: 581,
  582: 582,
  583: 583,
  584: 584,
  585: 585,
  586: 586,
  587: 587,
  588: 588,
  589: 589,
  590: 590,
  591: 591,
  592: 592,
  593: 593,
  594: 594,
  595: 595,
  596: 596,
  597: 597,
  598: 598,
  599: 599,
  600: 600,
  601: 601,
  602: 602,
  603: 603,
  604: 604,
  605: 605,
  606: 606,
  607: 607,
  608: 608,
  609: 609,
  610: 610,
  611: 611,
  612: 612,
  613: 613,
  614: 614,
  615: 615,
  616: 616,
  617: 617,
  618: 618,
  619: 619,
  620: 620,
  621: 621,
  622: 622,
  623: 623,
  624: 624,
  625: 625,
  626: 626,
  627: 627,
  628: 628,
  629: 629,
  630: 630,
  631: 631,
  632: 632,
  633: 633,
  634: 634,
  635: 635,
  636: 636,
  637: 637,
  638: 638,
  639: 639,
  640: 640,
  641: 641,
  642: 642,
  643: 643,
  644: 644,
  645: 645,
  646: 646,
  647: 647,
  648: 648,
  649: 649,
  650: 650,
  651: 651,
  652: 652,
  653: 653,
  654: 654,
  655: 655,
  656: 656,
  657: 657,
  658: 658,
  659: 659,
  660: 660,
  661: 661,
  662: 662,
  663: 663,
  664: 664,
  665: 665,
  666: 666,
  667: 667,
  668: 668,
  669: 669,
  670: 670,
  671: 671,
  672: 672,
  673: 673,
  674: 674,
  675: 675,
  676: 676,
  677: 677,
  678: 678,
  679: 679,
  680: 680,
  681: 681,
  682: 682,
  683: 683,
  684: 684,
  685: 685,
  686: 686,
  687: 687,
  688: 688,
  689: 689,
  690: 690,
  691: 691,
  692: 692,
  693: 693,
  694: 694,
  695: 695,
  696: 696,
  697: 697,
  698: 698,
  699: 699,
  700: 700,
  701: 701,
  702: 702,
  703: 703,
  704: 704,
  705: 705,
  706: 706,
  707: 707,
  708: 708,
  709: 709,
  710: 710,
  711: 711,
  712: 712,
  713: 713,
  714: 714,
  715: 715,
  716: 716,
  717: 717,
  718: 718,
  719: 719,
  720: 720,
  721: 721,
  722: 722,
  723: 723,
  724: 724,
  725: 725,
  726: 726,
  727: 727,
  728: 728,
  729: 729,
  730: 730,
  731: 731,
  732: 732,
  733: 733,
  734: 734,
  735: 735,
  736: 736,
  737: 737,
  738: 738,
  739: 739,
  740: 740,
  741: 741,
  742: 742,
  743: 743,
  744: 744,
  745: 745,
  746: 746,
  747: 747,
  748: 748,
  749: 749,
  750: 750,
  751: 751,
  752: 752,
  753: 753,
  754: 754,
  755: 755,
  756: 756,
  757: 757,
  758: 758,
  759: 759,
  760: 760,
  761: 761,
  762: 762,
  763: 763,
  764: 764,
  765: 765,
  766: 766,
  767: 767,
  768: 768,
  769: 769,
  770: 770,
  771: 771,
  772: 772,
  773: 773,
  774: 774,
  775: 775,
  776: 776,
  777: 777,
  778: 778,
  779: 779,
  780: 780,
  781: 781,
  782: 782,
  783: 783,
  784: 784,
  785: 785,
  786: 786,
  787: 787,
  788: 788,
  789: 789,
  790: 790,
  791: 791,
  792: 792,
  793: 793,
  794: 794,
  795: 795,
  796: 796,
  797: 797,
  798: 798,
  799: 799,
  800: 800,
  801: 801,
  802: 802,
  803: 803,
  804: 804,
  805: 805,
  806: 806,
  807: 807,
  808: 808,
  809: 809,
  810: 810,
  811: 811,
  812: 812,
  813: 813,
  814: 814,
  815: 815,
  816: 816,
  817: 817,
  818: 818,
  819: 819,
  820: 820,
  821: 821,
  822: 822,
  823: 823,
  824: 824,
  825: 825,
  826: 826,
  827: 827,
  828: 828,
  829: 829,
  830: 830,
  831: 831,
  832: 832,
  833: 833,
  834: 834,
  835: 835,
  836: 836,
  837: 837,
  838: 838,
  839: 839,
  840: 840,
  841: 841,
  842: 842,
  843: 843,
  844: 844,
  845: 845,
  846: 846,
  847: 847,
  848: 848,
  849: 849,
  850: 850,
  851: 851,
  852: 852,
  853: 853,
  854: 854,
  855: 855,
  856: 856,
  857: 857,
  858: 858,
  859: 859,
  860: 860,
  861: 861,
  862: 862,
  863: 863,
  864: 864,
  865: 865,
  866: 866,
  867: 867,
  868: 868,
  869: 869,
  870: 870,
  871: 871,
  872: 872,
  873: 873,
  874: 874,
  875: 875,
  876: 876,
  877: 877,
  878: 878,
  879: 879,
  880: 880,
  881: 881,
  882: 882,
  883: 883,
  884: 884,
  885: 885,
  886: 886,
  887: 887,
  888: 888,
  889: 889,
  890: 890,
  891: 891,
  892: 892,
  893: 893,
  894: 894,
  895: 895,
  896: 896,
  897: 897,
  898: 898,
  899: 899,
  900: 900,
  901: 901,
  902: 902,
  903: 903,
  904: 904,
  905: 905,
  906: 906,
  907: 907,
  908: 908,
  909: 909,
  910: 910,
  911: 911,
  912: 912,
  913: 913,
  914: 914,
  915: 915,
  916: 916,
  917: 917,
  918: 918,
  919: 919,
  920: 920,
  921: 921,
  922: 922,
  923: 923,
  924: 924,
  925: 925,
  926: 926,
  927: 927,
  928: 928,
  929: 929,
  930: 930,
  931: 931,
  932: 932,
  933: 933,
  934: 934,
  935: 935,
  936: 936,
  937: 937,
  938: 938,
  939: 939,
  940: 940,
  941: 941,
  942: 942,
  943: 943,
  944: 944,
  945: 945,
  946: 946,
  947: 947,
  948: 948,
  949: 949,
  950: 950,
  951: 951,
  952: 952,
  953: 953,
  954: 954,
  955: 955,
  956: 956,
  957: 957,
  958: 958,
  959: 959,
  960: 960,
  961: 961,
  962: 962,
  963: 963,
  964: 964,
  965: 965,
  966: 966,
  967: 967,
  968: 968,
  969: 969,
  970: 970,
  971: 971,
  972: 972,
  973: 973,
  974: 974,
  975: 975,
  976: 976,
  977: 977,
  978: 978,
  979: 979,
  980: 980,
  981: 981,
  982: 982,
  983: 983,
  984: 984,
  985: 985,
  986: 986,
  987: 987,
  988: 988,
  989: 989,
  990: 990,
  991: 991,
  992: 992,
  993: 993,
  994: 994,
  995: 995,
  996: 996,
  997: 997,
  998: 998,
  999: 999,
  ...},
 'item_category_id': {0: 40,
  1: 76,
  2: 40,
  3: 40,
  4: 40,
  5: 40,
  6: 40,
  7: 40,
  8: 40,
  9: 40,
  10: 40,
  11: 40,
  12: 55,
  13: 40,
  14: 40,
  15: 40,
  16: 40,
  17: 40,
  18: 40,
  19: 40,
  20: 40,
  21: 40,
  22: 40,
  23: 40,
  24: 40,
  25: 40,
  26: 40,
  27: 19,
  28: 30,
  29: 23,
  30: 40,
  31: 37,
  32: 40,
  33: 37,
  34: 40,
  35: 40,
  36: 37,
  37: 40,
  38: 41,
  39: 41,
  40: 57,
  41: 57,
  42: 57,
  43: 40,
  44: 57,
  45: 57,
  46: 57,
  47: 57,
  48: 57,
  49: 57,
  50: 57,
  51: 57,
  52: 57,
  53: 57,
  54: 57,
  55: 43,
  56: 57,
  57: 57,
  58: 78,
  59: 57,
  60: 43,
  61: 43,
  62: 37,
  63: 40,
  64: 40,
  65: 37,
  66: 37,
  67: 40,
  68: 30,
  69: 54,
  70: 49,
  71: 37,
  72: 40,
  73: 40,
  74: 37,
  75: 40,
  76: 37,
  77: 40,
  78: 40,
  79: 40,
  80: 37,
  81: 40,
  82: 37,
  83: 40,
  84: 40,
  85: 37,
  86: 40,
  87: 37,
  88: 40,
  89: 40,
  90: 40,
  91: 37,
  92: 37,
  93: 43,
  94: 40,
  95: 40,
  96: 40,
  97: 40,
  98: 40,
  99: 37,
  100: 40,
  101: 78,
  102: 76,
  103: 76,
  104: 76,
  105: 30,
  106: 30,
  107: 44,
  108: 44,
  109: 57,
  110: 44,
  111: 57,
  112: 44,
  113: 57,
  114: 44,
  115: 57,
  116: 57,
  117: 44,
  118: 44,
  119: 44,
  120: 44,
  121: 44,
  122: 44,
  123: 44,
  124: 44,
  125: 44,
  126: 44,
  127: 44,
  128: 44,
  129: 44,
  130: 44,
  131: 44,
  132: 44,
  133: 45,
  134: 45,
  135: 45,
  136: 45,
  137: 44,
  138: 45,
  139: 45,
  140: 45,
  141: 44,
  142: 45,
  143: 45,
  144: 44,
  145: 44,
  146: 44,
  147: 44,
  148: 44,
  149: 45,
  150: 44,
  151: 45,
  152: 45,
  153: 45,
  154: 45,
  155: 45,
  156: 45,
  157: 44,
  158: 44,
  159: 44,
  160: 44,
  161: 44,
  162: 45,
  163: 44,
  164: 44,
  165: 45,
  166: 45,
  167: 44,
  168: 44,
  169: 44,
  170: 45,
  171: 45,
  172: 45,
  173: 45,
  174: 44,
  175: 45,
  176: 45,
  177: 45,
  178: 45,
  179: 45,
  180: 44,
  181: 44,
  182: 44,
  183: 44,
  184: 44,
  185: 44,
  186: 44,
  187: 44,
  188: 44,
  189: 44,
  190: 44,
  191: 44,
  192: 44,
  193: 44,
  194: 44,
  195: 44,
  196: 44,
  197: 45,
  198: 45,
  199: 45,
  200: 45,
  201: 44,
  202: 45,
  203: 44,
  204: 44,
  205: 45,
  206: 44,
  207: 45,
  208: 44,
  209: 44,
  210: 45,
  211: 44,
  212: 44,
  213: 45,
  214: 44,
  215: 45,
  216: 44,
  217: 44,
  218: 45,
  219: 45,
  220: 44,
  221: 44,
  222: 44,
  223: 44,
  224: 45,
  225: 45,
  226: 45,
  227: 44,
  228: 45,
  229: 44,
  230: 45,
  231: 44,
  232: 45,
  233: 45,
  234: 45,
  235: 45,
  236: 45,
  237: 45,
  238: 45,
  239: 44,
  240: 44,
  241: 44,
  242: 44,
  243: 45,
  244: 45,
  245: 44,
  246: 45,
  247: 45,
  248: 45,
  249: 45,
  250: 44,
  251: 44,
  252: 45,
  253: 45,
  254: 44,
  255: 44,
  256: 44,
  257: 45,
  258: 45,
  259: 45,
  260: 44,
  261: 44,
  262: 44,
  263: 45,
  264: 45,
  265: 45,
  266: 44,
  267: 45,
  268: 44,
  269: 45,
  270: 45,
  271: 44,
  272: 45,
  273: 45,
  274: 44,
  275: 44,
  276: 45,
  277: 45,
  278: 45,
  279: 44,
  280: 45,
  281: 45,
  282: 45,
  283: 45,
  284: 45,
  285: 45,
  286: 44,
  287: 44,
  288: 44,
  289: 44,
  290: 45,
  291: 44,
  292: 45,
  293: 45,
  294: 45,
  295: 45,
  296: 44,
  297: 45,
  298: 45,
  299: 44,
  300: 44,
  301: 44,
  302: 45,
  303: 45,
  304: 44,
  305: 44,
  306: 45,
  307: 44,
  308: 45,
  309: 44,
  310: 45,
  311: 45,
  312: 45,
  313: 45,
  314: 45,
  315: 45,
  316: 45,
  317: 45,
  318: 45,
  319: 45,
  320: 45,
  321: 45,
  322: 45,
  323: 44,
  324: 45,
  325: 45,
  326: 45,
  327: 44,
  328: 45,
  329: 45,
  330: 44,
  331: 45,
  332: 44,
  333: 45,
  334: 44,
  335: 45,
  336: 44,
  337: 44,
  338: 44,
  339: 44,
  340: 44,
  341: 44,
  342: 44,
  343: 44,
  344: 44,
  345: 44,
  346: 44,
  347: 44,
  348: 44,
  349: 44,
  350: 44,
  351: 45,
  352: 44,
  353: 45,
  354: 45,
  355: 44,
  356: 45,
  357: 45,
  358: 44,
  359: 44,
  360: 44,
  361: 44,
  362: 44,
  363: 45,
  364: 44,
  365: 45,
  366: 45,
  367: 45,
  368: 45,
  369: 45,
  370: 45,
  371: 45,
  372: 45,
  373: 45,
  374: 44,
  375: 45,
  376: 45,
  377: 45,
  378: 45,
  379: 44,
  380: 45,
  381: 44,
  382: 45,
  383: 44,
  384: 45,
  385: 45,
  386: 45,
  387: 45,
  388: 45,
  389: 45,
  390: 45,
  391: 45,
  392: 45,
  393: 45,
  394: 44,
  395: 44,
  396: 44,
  397: 45,
  398: 45,
  399: 45,
  400: 44,
  401: 45,
  402: 44,
  403: 44,
  404: 44,
  405: 45,
  406: 45,
  407: 45,
  408: 45,
  409: 45,
  410: 45,
  411: 45,
  412: 44,
  413: 45,
  414: 45,
  415: 44,
  416: 44,
  417: 45,
  418: 45,
  419: 45,
  420: 44,
  421: 45,
  422: 44,
  423: 45,
  424: 45,
  425: 45,
  426: 45,
  427: 45,
  428: 45,
  429: 45,
  430: 45,
  431: 45,
  432: 45,
  433: 45,
  434: 44,
  435: 45,
  436: 45,
  437: 44,
  438: 45,
  439: 45,
  440: 45,
  441: 45,
  442: 45,
  443: 45,
  444: 45,
  445: 45,
  446: 44,
  447: 44,
  448: 45,
  449: 45,
  450: 45,
  451: 45,
  452: 44,
  453: 45,
  454: 45,
  455: 44,
  456: 45,
  457: 45,
  458: 45,
  459: 45,
  460: 45,
  461: 45,
  462: 45,
  463: 44,
  464: 49,
  465: 77,
  466: 77,
  467: 77,
  468: 77,
  469: 77,
  470: 78,
  471: 49,
  472: 49,
  473: 49,
  474: 49,
  475: 73,
  476: 73,
  477: 73,
  478: 73,
  479: 49,
  480: 54,
  481: 49,
  482: 73,
  483: 73,
  484: 73,
  485: 73,
  486: 73,
  487: 77,
  488: 78,
  489: 77,
  490: 78,
  491: 73,
  492: 76,
  493: 54,
  494: 49,
  495: 76,
  496: 73,
  497: 54,
  498: 49,
  499: 30,
  500: 30,
  501: 31,
  502: 31,
  503: 31,
  504: 31,
  505: 31,
  506: 31,
  507: 31,
  508: 31,
  509: 31,
  510: 30,
  511: 31,
  512: 31,
  513: 31,
  514: 31,
  515: 31,
  516: 31,
  517: 31,
  518: 31,
  519: 31,
  520: 31,
  521: 31,
  522: 31,
  523: 78,
  524: 78,
  525: 78,
  526: 78,
  527: 77,
  528: 78,
  529: 77,
  530: 77,
  531: 77,
  532: 77,
  533: 77,
  534: 77,
  535: 73,
  536: 76,
  537: 78,
  538: 78,
  539: 78,
  540: 78,
  541: 77,
  542: 77,
  543: 77,
  544: 77,
  545: 77,
  546: 77,
  547: 77,
  548: 77,
  549: 77,
  550: 77,
  551: 77,
  552: 77,
  553: 77,
  554: 77,
  555: 77,
  556: 77,
  557: 77,
  558: 77,
  559: 77,
  560: 77,
  561: 77,
  562: 77,
  563: 78,
  564: 78,
  565: 77,
  566: 77,
  567: 78,
  568: 78,
  569: 78,
  570: 77,
  571: 77,
  572: 78,
  573: 77,
  574: 78,
  575: 78,
  576: 78,
  577: 78,
  578: 78,
  579: 78,
  580: 77,
  581: 78,
  582: 77,
  583: 78,
  584: 77,
  585: 78,
  586: 77,
  587: 78,
  588: 77,
  589: 78,
  590: 77,
  591: 77,
  592: 78,
  593: 77,
  594: 77,
  595: 77,
  596: 77,
  597: 77,
  598: 78,
  599: 77,
  600: 78,
  601: 77,
  602: 78,
  603: 77,
  604: 77,
  605: 77,
  606: 77,
  607: 77,
  608: 77,
  609: 77,
  610: 77,
  611: 78,
  612: 78,
  613: 77,
  614: 77,
  615: 77,
  616: 78,
  617: 77,
  618: 78,
  619: 78,
  620: 78,
  621: 77,
  622: 78,
  623: 78,
  624: 78,
  625: 77,
  626: 77,
  627: 78,
  628: 77,
  629: 78,
  630: 78,
  631: 77,
  632: 78,
  633: 78,
  634: 77,
  635: 77,
  636: 77,
  637: 77,
  638: 77,
  639: 77,
  640: 77,
  641: 78,
  642: 77,
  643: 78,
  644: 78,
  645: 77,
  646: 77,
  647: 77,
  648: 77,
  649: 78,
  650: 78,
  651: 77,
  652: 78,
  653: 78,
  654: 77,
  655: 78,
  656: 78,
  657: 77,
  658: 78,
  659: 77,
  660: 77,
  661: 78,
  662: 77,
  663: 78,
  664: 78,
  665: 77,
  666: 78,
  667: 78,
  668: 77,
  669: 78,
  670: 78,
  671: 78,
  672: 78,
  673: 78,
  674: 77,
  675: 78,
  676: 78,
  677: 77,
  678: 78,
  679: 78,
  680: 78,
  681: 78,
  682: 78,
  683: 77,
  684: 78,
  685: 77,
  686: 73,
  687: 73,
  688: 78,
  689: 78,
  690: 77,
  691: 78,
  692: 78,
  693: 78,
  694: 78,
  695: 77,
  696: 77,
  697: 77,
  698: 78,
  699: 77,
  700: 77,
  701: 77,
  702: 77,
  703: 77,
  704: 78,
  705: 77,
  706: 77,
  707: 78,
  708: 77,
  709: 78,
  710: 77,
  711: 78,
  712: 77,
  713: 78,
  714: 78,
  715: 77,
  716: 77,
  717: 77,
  718: 78,
  719: 77,
  720: 77,
  721: 78,
  722: 78,
  723: 78,
  724: 78,
  725: 78,
  726: 78,
  727: 78,
  728: 78,
  729: 77,
  730: 77,
  731: 78,
  732: 77,
  733: 78,
  734: 77,
  735: 78,
  736: 77,
  737: 77,
  738: 77,
  739: 77,
  740: 77,
  741: 77,
  742: 78,
  743: 78,
  744: 77,
  745: 78,
  746: 77,
  747: 77,
  748: 78,
  749: 77,
  750: 77,
  751: 78,
  752: 78,

In [46]:
combinations = []
for shop in all_shop_ids:
    #get all article ids ever associated to this shop
    train_ids = transactions[transactions['shop_id'] == shop]['item_id'].unique()
    test_ids = test[test['shop_id'] == shop]['item_id'].unique()
    all_shop = np.unique(np.append(train_ids, test_ids))
    all_shop_combo = [[item, shop, block] for item in all_shop for block in train_blocks]
    for combo in all_shop_combo:
        combinations.append(combo)

In [45]:
len(combinations)

7722666

In [47]:
all_combos = pd.DataFrame(np.unique(np.vstack([combinations]), axis=0), columns=['item_id', 'shop_id', 'date_block_num'])

In [48]:
len(all_combos)

7722666

In [110]:
all_combos.head()

   item_id  shop_id  date_block_num  item_category_id
0        0       54              13                40
1        0       54              14                40
2        0       54              15                40
3        0       54              16                40
4        0       54              17                40

In [109]:
all_combos = pd.merge(all_combos, items[['item_id', 'item_category_id']], on='item_id', how='left')

In [50]:
transactions['y'] = transactions.groupby(['date_block_num','shop_id','item_id'])['item_cnt_day'].transform(np.sum).clip(0,40)

In [51]:
gc.collect()

transactions['item_cnt_sum'] = transactions.groupby(['item_id', 'date_block_num'])['item_cnt_day'].transform(np.sum)
transactions['item_cnt_mean'] = transactions.groupby(['item_id', 'date_block_num'])['item_cnt_day'].transform(np.mean)
transactions['item_price_mean'] = transactions.groupby(['item_id', 'date_block_num'])['item_price'].transform(np.mean)


transactions['shop_cnt_sum'] = transactions.groupby(['shop_id', 'date_block_num'])['item_cnt_day'].transform(np.sum)
transactions['shop_cnt_mean'] = transactions.groupby(['shop_id', 'date_block_num'])['item_cnt_day'].transform(np.mean)
transactions['shop_price_mean'] = transactions.groupby(['shop_id', 'date_block_num'])['item_price'].transform(np.mean)

transactions['category_cnt_sum'] = transactions.groupby(['item_category_id', 'date_block_num'])['item_cnt_day'].transform(np.sum)
transactions['category_cnt_mean'] = transactions.groupby(['item_category_id', 'date_block_num'])['item_cnt_day'].transform(np.mean)
transactions['category_price_mean'] = transactions.groupby(['item_category_id', 'date_block_num'])['item_price'].transform(np.mean)

In [52]:
len(transactions)

868080

In [53]:
transactions = transactions.drop_duplicates(INDEX_COLS)

In [54]:
len(transactions)

868080

In [101]:
transactions['item_category_id'].nunique()

78

In [111]:
training = pd.merge(all_combos,transactions,on=['item_id', 'shop_id', 'date_block_num'],how='left')

In [121]:
training.drop('item_category_id_y', inplace=True, axis=1)

KeyError: "labels ['item_category_id_y'] not contained in axis"

In [120]:
training.columns

Index(['item_id', 'shop_id', 'date_block_num', 'item_category_id_x', 'date',
       'item_price', 'item_cnt_day', 'y', 'item_cnt_sum', 'item_cnt_mean',
       'item_price_mean', 'shop_cnt_sum', 'shop_cnt_mean', 'shop_price_mean',
       'category_cnt_sum', 'category_cnt_mean', 'category_price_mean'],
      dtype='object')

In [126]:
training.rename(columns={'item_category_id_x': 'item_category_id'}, inplace=True)

In [127]:
training.head()

,item_id,shop_id,date_block_num,item_category_id,date,item_price,item_cnt_day,y,item_cnt_sum,item_cnt_mean,item_price_mean,shop_cnt_sum,shop_cnt_mean,shop_price_mean,category_cnt_sum,category_cnt_mean,category_price_mean
0,0,54,13,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,54,14,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,54,15,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,54,16,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,54,17,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
training[['item_id', 'shop_id', 'item_category_id', 'date_block_num']].sample(100)

         item_id  shop_id  item_category_id  date_block_num
6785834    19341       15                49              33
1345246     4117       39                58              20
5993531    17027        7                55              18
5491649    15770       57                38              15
2853537     8625       59                40              28
7074201    20252       31                40              28
3040754     9203        4                61              30
7402553    21265       28                61              24
5150924    15031       58                49              15
3217396     9870        5                40              20
6689836    19052       51                55              26
1054182     3355       59                22              16
3854214    11541       20                70              13
1885722     5676       52                 3              19
2202273     6615       18                19              16
438644      1610       59                55              30
504325      1834       31                28              23
7196945    20567       55                72              27
4004607    12022        4                37              25
2622546     7953        3                 6              16
1542917     4694       47                57              18
3436177    10439       25                40              23
7362300    21053       49                61              28
3488674    10546       16                37              20
7356611    21021       15                61              30
250386      1112       31                37              16
5844313    16543       39                55              26
6527389    18603        6                40              14
5010427    14605       37                40              29
5028234    14672       33                55              28
...          ...      ...               ...             ...
6427220    18352       19                55              15
2710101     8193        2                38              22
3480424    10518       10                55              23
712031      2475       58                55              18
184686       944        6                37              25
3153779     9537       45                55              33
7604389    21850        3                40              29
6590805    18772       54                37              31
3429309    10425       46                41              22
756699      2643        6                55              19
3232182     9909       49                37              22
3809987    11413        6                40              33
2187536     6554        4                25              21
6959009    19857       29                40              21
6039759    17167       59                40              25
2830311     8544       35                42              28
1112806     3476       58                23              29
6005948    17063       44                40              24
5720          38       16                41              21
5842326    16541       25                55              13
2309122     6946       18                31              17
2302566     6927       16                31              13
6763579    19258       55                57              17
6127563    17428       25                37              28
6706558    19091       29                40              32
5787087    16388       37                31              25
1539080     4679       29                55              24
996728      3236        5                19              18
1581790     4837       39                23              20
1008097     3268       35                55              26

[100 rows x 4 columns]

In [129]:
training['y'] = training['y'].fillna(0)

In [130]:
transactions[(transactions['item_id'] == 15266) & (transactions['shop_id'] == 5)]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id,y,item_cnt_sum,item_cnt_mean,item_price_mean,shop_cnt_sum,shop_cnt_mean,shop_price_mean,category_cnt_sum,category_cnt_mean,category_price_mean
2332910,24.01.2015,24,5,15266,699.0,1.0,63,1.0,23.0,1.0,692.956522,810.0,1.033163,1120.071696,1476.0,1.035789,890.800954
2527492,21.03.2015,26,5,15266,699.0,1.0,63,1.0,21.0,1.0,682.857143,702.0,1.035398,833.320575,1359.0,1.026435,930.227372

In [131]:
training[(training['item_id'] == 15266) & (training['shop_id'] == 5)]

,item_id,shop_id,date_block_num,item_category_id,date,item_price,item_cnt_day,y,item_cnt_sum,item_cnt_mean,item_price_mean,shop_cnt_sum,shop_cnt_mean,shop_price_mean,category_cnt_sum,category_cnt_mean,category_price_mean
5266191,15266,5,13,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266192,15266,5,14,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266193,15266,5,15,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266194,15266,5,16,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266195,15266,5,17,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266196,15266,5,18,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266197,15266,5,19,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266198,15266,5,20,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266199,15266,5,21,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266200,15266,5,22,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266201,15266,5,23,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266202,15266,5,24,63,24.01.2015,699.0,1.0,1.0,23.0,1.0,692.956522,810.0,1.033163,1120.071696,1476.0,1.035789,890.800954
5266203,15266,5,25,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266204,15266,5,26,63,21.03.2015,699.0,1.0,1.0,21.0,1.0,682.857143,702.0,1.035398,833.320575,1359.0,1.026435,930.227372
5266205,15266,5,27,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266206,15266,5,28,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266207,15266,5,29,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266208,15266,5,30,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266209,15266,5,31,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266210,15266,5,32,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266211,15266,5,33,63,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
len(training)

7722666

In [133]:
training = training.sample(frac=1)

In [134]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

training_int = training.select_dtypes(include=['int'])
converted_int = training_int.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(training_int))
print(mem_usage(converted_int))

compare_ints = pd.concat([training_int.dtypes,converted_int.dtypes],axis=1)
compare_ints.columns = ['before','after']
compare_ints.apply(pd.Series.value_counts)

58.92 MB
58.92 MB

Empty DataFrame
Columns: [before, after]
Index: []

In [135]:
training_float = training.select_dtypes(include=['float'])
converted_float = training_float.apply(pd.to_numeric,downcast='float')

print(mem_usage(training_float))
print(mem_usage(converted_float))

compare_floats = pd.concat([training_float.dtypes,converted_float.dtypes],axis=1)
compare_floats.columns = ['before','after']
compare_floats.apply(pd.Series.value_counts)

765.95 MB
412.43 MB

         before  after
float32     NaN   12.0
float64    12.0    NaN

In [136]:
optimized_training = training.copy()

optimized_training[converted_int.columns] = converted_int
optimized_training[converted_float.columns] = converted_float

print(mem_usage(training))
print(mem_usage(optimized_training))

1266.28 MB
912.76 MB

In [137]:
training = optimized_training
del optimized_training
gc.collect()

707

In [138]:
lag_columns = training.columns[7:]
lags = [1,2,3,6,12]

In [139]:
training.head()

,item_id,shop_id,date_block_num,item_category_id,date,item_price,item_cnt_day,y,item_cnt_sum,item_cnt_mean,item_price_mean,shop_cnt_sum,shop_cnt_mean,shop_price_mean,category_cnt_sum,category_cnt_mean,category_price_mean
5091495,14845,15,16,65,03.05.2014,229.0,2.0,2.0,48.0,1.92,227.167999,938.0,1.111374,702.385681,880.0,1.222222,322.151093
5099338,14866,25,26,37,11.03.2015,399.0,1.0,1.0,6.0,1.00,399.000000,2678.0,1.106154,840.005981,3439.0,1.040545,392.435455
1046784,3347,54,31,23,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1782576,5380,7,25,75,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4980844,14494,24,14,41,01.03.2014,148.0,1.0,1.0,4.0,1.00,135.500000,1005.0,1.062368,871.382324,616.0,1.011494,1080.159424

In [140]:
gc.collect()
def lagged_name(lag_column, lag):
    return "%s_lag_%d" % (lag_column, lag)

merge_columns = ['lagged_block','item_id','shop_id']

for lag in lags:
    print(lag)
    lagged = transactions.copy()
    lagged.rename(columns={'date_block_num':'lagged_block'},inplace=True)
    training['lagged_block'] = training['date_block_num'] - lag
    lagged_names = [lagged_name(c,lag) for c in lag_columns]
    lag_mapping = dict(zip(lag_columns, lagged_names))
    lagged.rename(columns=lag_mapping,inplace=True)
    training = pd.merge(training,lagged[lagged_names+merge_columns],on=merge_columns,how='left')
    del lagged
    gc.collect()

1
2
3
6
12

In [141]:
len(training)

7722666

In [142]:
training.sample(10)

,item_id,shop_id,date_block_num,item_category_id,date,item_price,item_cnt_day,y,item_cnt_sum,item_cnt_mean,...,y_lag_12,item_cnt_sum_lag_12,item_cnt_mean_lag_12,item_price_mean_lag_12,shop_cnt_sum_lag_12,shop_cnt_mean_lag_12,shop_price_mean_lag_12,category_cnt_sum_lag_12,category_cnt_mean_lag_12,category_price_mean_lag_12
2688817,1384,22,29,30,08.06.2015,248.0,1.0,1.0,27.0,1.173913,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646559,20072,12,17,37,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7127129,11172,28,24,40,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6895533,3787,50,14,55,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3024749,16533,42,30,37,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6464168,16174,34,24,65,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4346929,16560,44,14,40,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6199640,2642,53,24,55,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4815175,12705,12,18,40,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3463591,14112,26,15,37,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
training['date_block_num'].unique()

array([26, 16, 24, 15, 23, 33, 30, 21, 32, 25, 31, 20, 19, 18, 22, 17, 29,
       28, 27, 14, 13], dtype=int64)

In [ ]:
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
training[(training['item_id'] == 30) & (training['shop_id'] == 30)].sort_values(by='date_block_num')

In [143]:
training.drop(columns=['y_lag_1', 'y_lag_2', 'y_lag_3', 'y_lag_6', 'y_lag_12', 'lagged_block'],inplace=True)

In [144]:
import pickle as pickle

pickle.dump(training, open( "training", "wb"), protocol=4)

#training = pickle.load( open( "training", "rb" ) )

In [145]:
val_indices = training[(training['date_block_num'] == 33)].index

In [146]:
lgbm_features = training.columns[17:]
lgbm_features = np.append( ['item_id', 'shop_id', 'item_category_id', 'date_block_num'], lgbm_features)
lgbm_features

array(['item_id', 'shop_id', 'item_category_id', 'date_block_num',
       'item_cnt_sum_lag_1', 'item_cnt_mean_lag_1',
       'item_price_mean_lag_1', 'shop_cnt_sum_lag_1',
       'shop_cnt_mean_lag_1', 'shop_price_mean_lag_1',
       'category_cnt_sum_lag_1', 'category_cnt_mean_lag_1',
       'category_price_mean_lag_1', 'item_cnt_sum_lag_2',
       'item_cnt_mean_lag_2', 'item_price_mean_lag_2',
       'shop_cnt_sum_lag_2', 'shop_cnt_mean_lag_2',
       'shop_price_mean_lag_2', 'category_cnt_sum_lag_2',
       'category_cnt_mean_lag_2', 'category_price_mean_lag_2',
       'item_cnt_sum_lag_3', 'item_cnt_mean_lag_3',
       'item_price_mean_lag_3', 'shop_cnt_sum_lag_3',
       'shop_cnt_mean_lag_3', 'shop_price_mean_lag_3',
       'category_cnt_sum_lag_3', 'category_cnt_mean_lag_3',
       'category_price_mean_lag_3', 'item_cnt_sum_lag_6',
       'item_cnt_mean_lag_6', 'item_price_mean_lag_6',
       'shop_cnt_sum_lag_6', 'shop_cnt_mean_lag_6',
       'shop_price_mean_lag_6', 'category_cnt_sum_lag_6',
       'category_cnt_mean_lag_6', 'category_price_mean_lag_6',
       'item_cnt_sum_lag_12', 'item_cnt_mean_lag_12',
       'item_price_mean_lag_12', 'shop_cnt_sum_lag_12',
       'shop_cnt_mean_lag_12', 'shop_price_mean_lag_12',
       'category_cnt_sum_lag_12', 'category_cnt_mean_lag_12',
       'category_price_mean_lag_12'], dtype=object)

In [147]:
categorical_features_indices = [0,1,2,3]

In [148]:
training[['item_id', 'shop_id', 'item_category_id', 'date_block_num']].sample(100)

         item_id  shop_id  item_category_id  date_block_num
1382684    18253       31                57              19
3307860     6286       38                55              28
371249      3558       21                24              27
7267720    12117        5                16              16
1087028    21046       42                61              32
2104900     1101       50                57              25
7115008     9335       14                70              24
478440      8653       33                40              30
951962      3598       42                58              29
2614389    14956       48                47              26
1417772    20529       26                72              29
777330     20346       29                72              32
538191     15088       58                62              22
5733896    11319       43                62              20
7108709    19583       15                40              29
30259      10455       41                37              24
6062895    13309       22                47              26
7401295    19133       44                40              27
6052536    21880       27                40              27
3312033    16664        4                37              30
11769      14043       54                40              32
2381337    11297       27                66              29
1260064    13643       28                69              30
360848      6466       52                30              33
7146857    10752       55                40              24
6227057     6490        9                28              15
7312474     2614       35                55              26
4190462    16649        4                37              30
5410799     6521       25                25              28
3876030    10928       58                55              15
...          ...      ...               ...             ...
1441412    13289       22                47              26
2296342    10707       33                23              27
2242124      924       14                78              28
7200714     5244        5                24              31
2700818     3082       55                55              21
4355702    10126       38                40              27
3449624    13814       25                55              18
3816906    17362       16                37              25
1676665    10802       21                40              28
6763519     3380       42                55              31
1263367    17637       10                61              29
104187     13717       41                69              24
6919506    17858       46                40              16
4635691    14137       57                37              20
211480      7331       55                55              31
739537      2445       53                30              27
6946278     1941       15                23              30
1560357    21533       22                55              19
956073     16051       21                64              18
5747443     8658       15                40              15
1074346     7886       17                 6              22
5538604    13208       39                47              21
6394895    10372       31                40              21
3206999     6134       29                30              25
5630768    14760       24                58              24
4848374    13586       12                61              32
5573507     9405       19                70              27
1991334     5444       21                55              23
2369545    22019       56                37              27
3256823    13416       41                19              15

[100 rows x 4 columns]

In [149]:
x = training
y = training['y']


x_train = x[~x.index.isin(val_indices)]
y_train = y[~y.index.isin(val_indices)]

x_val = x[x.index.isin(val_indices)]
y_val = y[y.index.isin(val_indices)]

In [ ]:
gc.collect()
lgtrain = lgbm.Dataset(x_train[lgbm_features[best_features_indices]], label=y_train)
lgval = lgbm.Dataset(x_val[lgbm_features[best_features_indices]], label=y_val)



#[0.00542047893814942, 29, 24, 0.39949465609514856, 1, 0.67943500, 10]
params = {
        "num_threads": 16,
        "verbosity": -1,
        #"zero_as_missing": "true",
        "boosting":'gbdt',
        "objective" : "regression",
        "metric" : "rmse",
        "seed": 42,
        #"max_bin": 10,#default 255
        #"num_leaves": 10, #default 31
        "bagging_fraction": 0.3,
        "bagging_freq": 1,
        "min_data_in_leaf": 50000,
        #"feature_fraction": 0.5,
        #"min_gain_to_split": 1,
       # "lambda_l1": 100,
        #"lambda_l2": 100,
        #"max_depth": 3, #default -1
        #"min_gain_to_split": 10,
        "learning_rate" : 0.02,
        #"histogram_pool_size": 1000,
        #"categorical_column": [0,1,2,3,4]
}


evals_result = {}
model_lgb = lgbm.train(params, lgtrain, 1000, 
                      valid_sets=[lgval], 
                      early_stopping_rounds=100, 
                      verbose_eval=100, 
                      evals_result=evals_result)

In [150]:
cb_model = CatBoostRegressor(iterations=1000,
                             learning_rate=0.03,
                             eval_metric='RMSE',
                             #thread_count=16,
                             task_type = "GPU",
                             use_best_model=True,
                             #l2_leaf_reg = 1000,
                            od_type = "Iter",
                            od_wait = 100,
                             random_strength = 10,
                             bagging_temperature = 1,
                             random_seed = 23)


cb_model.fit(x_train[lgbm_features], y_train, cat_features=categorical_features_indices,
             eval_set=(x_val[lgbm_features],y_val),
             #cat_features=categorical_features_pos,         
             verbose=True)

0:	learn: 0.4573279	test: 0.4396969	best: 0.4396969 (0)	total: 943ms	remaining: 15m 42s
1:	learn: 0.4542370	test: 0.4381210	best: 0.4381210 (1)	total: 1.67s	remaining: 13m 52s
2:	learn: 0.4511619	test: 0.4368296	best: 0.4368296 (2)	total: 2.7s	remaining: 14m 58s
3:	learn: 0.4481708	test: 0.4358895	best: 0.4358895 (3)	total: 3.51s	remaining: 14m 34s
4:	learn: 0.4454407	test: 0.4347604	best: 0.4347604 (4)	total: 4.37s	remaining: 14m 29s
5:	learn: 0.4426103	test: 0.4340099	best: 0.4340099 (5)	total: 5.26s	remaining: 14m 31s
6:	learn: 0.4401171	test: 0.4329412	best: 0.4329412 (6)	total: 6.12s	remaining: 14m 28s
7:	learn: 0.4376865	test: 0.4318109	best: 0.4318109 (7)	total: 6.97s	remaining: 14m 23s
8:	learn: 0.4353109	test: 0.4309027	best: 0.4309027 (8)	total: 8.09s	remaining: 14m 51s
9:	learn: 0.4329145	test: 0.4301838	best: 0.4301838 (9)	total: 8.81s	remaining: 14m 32s
10:	learn: 0.4308460	test: 0.4293492	best: 0.4293492 (10)	total: 9.7s	remaining: 14m 32s
11:	learn: 0.4286747	test: 0.4287032	best: 0.4287032 (11)	total: 10.5s	remaining: 14m 23s
12:	learn: 0.4266261	test: 0.4282357	best: 0.4282357 (12)	total: 11.3s	remaining: 14m 14s
13:	learn: 0.4246436	test: 0.4276463	best: 0.4276463 (13)	total: 12s	remaining: 14m 7s
14:	learn: 0.4229513	test: 0.4269071	best: 0.4269071 (14)	total: 12.9s	remaining: 14m 6s
15:	learn: 0.4216198	test: 0.4259336	best: 0.4259336 (15)	total: 13.5s	remaining: 13m 53s
16:	learn: 0.4199740	test: 0.4254401	best: 0.4254401 (16)	total: 14.6s	remaining: 14m 3s
17:	learn: 0.4184505	test: 0.4249513	best: 0.4249513 (17)	total: 15.5s	remaining: 14m 5s
18:	learn: 0.4172617	test: 0.4240525	best: 0.4240525 (18)	total: 16.3s	remaining: 14m 3s
19:	learn: 0.4158376	test: 0.4236129	best: 0.4236129 (19)	total: 17.2s	remaining: 14m 4s
20:	learn: 0.4142426	test: 0.4230492	best: 0.4230492 (20)	total: 18.2s	remaining: 14m 9s
21:	learn: 0.4128635	test: 0.4226409	best: 0.4226409 (21)	total: 19.2s	remaining: 14m 12s
22:	learn: 0.4115362	test: 0.4220494	best: 0.4220494 (22)	total: 20.4s	remaining: 14m 26s
23:	learn: 0.4104300	test: 0.4215936	best: 0.4215936 (23)	total: 21.3s	remaining: 14m 24s
24:	learn: 0.4089635	test: 0.4209327	best: 0.4209327 (24)	total: 22.3s	remaining: 14m 29s
25:	learn: 0.4080881	test: 0.4203498	best: 0.4203498 (25)	total: 23.1s	remaining: 14m 26s
26:	learn: 0.4071189	test: 0.4200310	best: 0.4200310 (26)	total: 24s	remaining: 14m 24s
27:	learn: 0.4063422	test: 0.4194371	best: 0.4194371 (27)	total: 24.9s	remaining: 14m 25s
28:	learn: 0.4055728	test: 0.4188588	best: 0.4188588 (28)	total: 25.7s	remaining: 14m 22s
29:	learn: 0.4045974	test: 0.4185863	best: 0.4185863 (29)	total: 26.7s	remaining: 14m 22s
30:	learn: 0.4039448	test: 0.4181170	best: 0.4181170 (30)	total: 27.5s	remaining: 14m 20s
31:	learn: 0.4028428	test: 0.4177110	best: 0.4177110 (31)	total: 28.6s	remaining: 14m 25s
32:	learn: 0.4019370	test: 0.4174815	best: 0.4174815 (32)	total: 29.5s	remaining: 14m 23s
33:	learn: 0.4012244	test: 0.4171353	best: 0.4171353 (33)	total: 30.3s	remaining: 14m 21s
34:	learn: 0.4006621	test: 0.4174916	best: 0.4171353 (33)	total: 31.3s	remaining: 14m 22s
35:	learn: 0.4001335	test: 0.4171810	best: 0.4171353 (33)	total: 32.3s	remaining: 14m 25s
36:	learn: 0.3994863	test: 0.4169416	best: 0.4169416 (36)	total: 33.2s	remaining: 14m 23s
37:	learn: 0.3987238	test: 0.4166935	best: 0.4166935 (37)	total: 34.4s	remaining: 14m 31s
38:	learn: 0.3982825	test: 0.4163203	best: 0.4163203 (38)	total: 35.1s	remaining: 14m 23s
39:	learn: 0.3978609	test: 0.4159849	best: 0.4159849 (39)	total: 35.8s	remaining: 14m 18s
40:	learn: 0.3969380	test: 0.4157861	best: 0.4157861 (40)	total: 36.7s	remaining: 14m 18s
41:	learn: 0.3965289	test: 0.4154520	best: 0.4154520 (41)	total: 37.6s	remaining: 14m 17s
42:	learn: 0.3961118	test: 0.4151381	best: 0.4151381 (42)	total: 38.6s	remaining: 14m 18s
43:	learn: 0.3955425	test: 0.4148793	best: 0.4148793 (43)	total: 39.6s	remaining: 14m 19s
44:	learn: 0.3949600	test: 0.4147538	best: 0.4147538 (44)	total: 40.5s	remaining: 14m 19s
45:	learn: 0.3942171	test: 0.4146482	best: 0.4146482 (45)	total: 41.7s	remaining: 14m 25s
46:	learn: 0.3934778	test: 0.4144784	best: 0.4144784 (46)	total: 42.6s	remaining: 14m 23s
47:	learn: 0.3931461	test: 0.4142493	best: 0.4142493 (47)	total: 43.5s	remaining: 14m 22s
48:	learn: 0.3927579	test: 0.4140580	best: 0.4140580 (48)	total: 44.3s	remaining: 14m 19s
49:	learn: 0.3924151	test: 0.4138314	best: 0.4138314 (49)	total: 45.1s	remaining: 14m 17s
50:	learn: 0.3919656	test: 0.4137414	best: 0.4137414 (50)	total: 46s	remaining: 14m 16s
51:	learn: 0.3916915	test: 0.4136056	best: 0.4136056 (51)	total: 46.9s	remaining: 14m 15s
52:	learn: 0.3911937	test: 0.4134576	best: 0.4134576 (52)	total: 48.1s	remaining: 14m 18s
53:	learn: 0.3907887	test: 0.4133580	best: 0.4133580 (53)	total: 49s	remaining: 14m 17s
54:	learn: 0.3901428	test: 0.4132797	best: 0.4132797 (54)	total: 49.9s	remaining: 14m 16s
55:	learn: 0.3898821	test: 0.4130066	best: 0.4130066 (55)	total: 50.8s	remaining: 14m 16s
56:	learn: 0.3896781	test: 0.4128350	best: 0.4128350 (56)	total: 51.7s	remaining: 14m 16s
57:	learn: 0.3894650	test: 0.4125210	best: 0.4125210 (57)	total: 52.7s	remaining: 14m 15s
58:	learn: 0.3892296	test: 0.4125685	best: 0.4125210 (57)	total: 53.6s	remaining: 14m 14s
59:	learn: 0.3890260	test: 0.4123947	best: 0.4123947 (59)	total: 54.4s	remaining: 14m 12s
60:	learn: 0.3886496	test: 0.4123489	best: 0.4123489 (60)	total: 55.4s	remaining: 14m 13s
61:	learn: 0.3884445	test: 0.4121555	best: 0.4121555 (61)	total: 56.4s	remaining: 14m 12s
62:	learn: 0.3881324	test: 0.4120745	best: 0.4120745 (62)	total: 57.3s	remaining: 14m 12s
63:	learn: 0.3877247	test: 0.4120363	best: 0.4120363 (63)	total: 58.1s	remaining: 14m 9s
64:	learn: 0.3874242	test: 0.4119698	best: 0.4119698 (64)	total: 59s	remaining: 14m 8s
65:	learn: 0.3872699	test: 0.4117989	best: 0.4117989 (65)	total: 59.7s	remaining: 14m 4s
66:	learn: 0.3869989	test: 0.4117046	best: 0.4117046 (66)	total: 1m	remaining: 14m 3s
67:	learn: 0.3867921	test: 0.4115944	best: 0.4115944 (67)	total: 1m 1s	remaining: 14m 1s
68:	learn: 0.3866587	test: 0.4114837	best: 0.4114837 (68)	total: 1m 2s	remaining: 13m 56s
69:	learn: 0.3863494	test: 0.4114512	best: 0.4114512 (69)	total: 1m 2s	remaining: 13m 55s
70:	learn: 0.3862097	test: 0.4113292	best: 0.4113292 (70)	total: 1m 3s	remaining: 13m 50s
71:	learn: 0.3859723	test: 0.4112858	best: 0.4112858 (71)	total: 1m 4s	remaining: 13m 50s
72:	learn: 0.3856978	test: 0.4112637	best: 0.4112637 (72)	total: 1m 5s	remaining: 13m 50s
73:	learn: 0.3855667	test: 0.4111725	best: 0.4111725 (73)	total: 1m 6s	remaining: 13m 46s
74:	learn: 0.3853427	test: 0.4111438	best: 0.4111438 (74)	total: 1m 6s	remaining: 13m 44s
75:	learn: 0.3850559	test: 0.4111424	best: 0.4111424 (75)	total: 1m 8s	remaining: 13m 47s
76:	learn: 0.3848532	test: 0.4111034	best: 0.4111034 (76)	total: 1m 9s	remaining: 13m 49s
77:	learn: 0.3847599	test: 0.4110347	best: 0.4110347 (77)	total: 1m 9s	remaining: 13m 45s
78:	learn: 0.3845859	test: 0.4110166	best: 0.4110166 (78)	total: 1m 10s	remaining: 13m 45s
79:	learn: 0.3843886	test: 0.4109730	best: 0.4109730 (79)	total: 1m 11s	remaining: 13m 43s
80:	learn: 0.3840822	test: 0.4109526	best: 0.4109526 (80)	total: 1m 12s	remaining: 13m 42s
81:	learn: 0.3839507	test: 0.4108627	best: 0.4108627 (81)	total: 1m 13s	remaining: 13m 41s
82:	learn: 0.3838224	test: 0.4109071	best: 0.4108627 (81)	total: 1m 14s	remaining: 13m 40s
83:	learn: 0.3835302	test: 0.4108668	best: 0.4108627 (81)	total: 1m 15s	remaining: 13m 45s
84:	learn: 0.3834543	test: 0.4108129	best: 0.4108129 (84)	total: 1m 16s	remaining: 13m 46s
85:	learn: 0.3833586	test: 0.4107329	best: 0.4107329 (85)	total: 1m 17s	remaining: 13m 44s
86:	learn: 0.3832736	test: 0.4107108	best: 0.4107108 (86)	total: 1m 18s	remaining: 13m 40s
87:	learn: 0.3830456	test: 0.4106625	best: 0.4106625 (87)	total: 1m 18s	remaining: 13m 38s
88:	learn: 0.3827572	test: 0.4106500	best: 0.4106500 (88)	total: 1m 19s	remaining: 13m 35s
89:	learn: 0.3825261	test: 0.4106588	best: 0.4106500 (88)	total: 1m 20s	remaining: 13m 32s
90:	learn: 0.3823304	test: 0.4106459	best: 0.4106459 (90)	total: 1m 21s	remaining: 13m 30s
91:	learn: 0.3821883	test: 0.4105557	best: 0.4105557 (91)	total: 1m 21s	remaining: 13m 28s

92:	learn: 0.3819859	test: 0.4105552	best: 0.4105552 (92)	total: 1m 23s	remaining: 13m 30s
93:	learn: 0.3818238	test: 0.4105400	best: 0.4105400 (93)	total: 1m 23s	remaining: 13m 29s
94:	learn: 0.3815909	test: 0.4105346	best: 0.4105346 (94)	total: 1m 25s	remaining: 13m 31s
95:	learn: 0.3813348	test: 0.4104727	best: 0.4104727 (95)	total: 1m 26s	remaining: 13m 30s
96:	learn: 0.3812680	test: 0.4104496	best: 0.4104496 (96)	total: 1m 26s	remaining: 13m 28s
97:	learn: 0.3810614	test: 0.4104609	best: 0.4104496 (96)	total: 1m 28s	remaining: 13m 30s
98:	learn: 0.3808781	test: 0.4104877	best: 0.4104496 (96)	total: 1m 28s	remaining: 13m 29s
99:	learn: 0.3807533	test: 0.4105211	best: 0.4104496 (96)	total: 1m 29s	remaining: 13m 29s
100:	learn: 0.3806234	test: 0.4105548	best: 0.4104496 (96)	total: 1m 30s	remaining: 13m 28s
101:	learn: 0.3805560	test: 0.4105389	best: 0.4104496 (96)	total: 1m 31s	remaining: 13m 27s
102:	learn: 0.3804439	test: 0.4105401	best: 0.4104496 (96)	total: 1m 32s	remaining: 13m 25s
103:	learn: 0.3802665	test: 0.4104774	best: 0.4104496 (96)	total: 1m 33s	remaining: 13m 22s
104:	learn: 0.3801500	test: 0.4104755	best: 0.4104496 (96)	total: 1m 33s	remaining: 13m 20s
105:	learn: 0.3800663	test: 0.4104437	best: 0.4104437 (105)	total: 1m 34s	remaining: 13m 20s
106:	learn: 0.3800269	test: 0.4104258	best: 0.4104258 (106)	total: 1m 35s	remaining: 13m 17s
107:	learn: 0.3798802	test: 0.4104196	best: 0.4104196 (107)	total: 1m 36s	remaining: 13m 17s
108:	learn: 0.3798421	test: 0.4103976	best: 0.4103976 (108)	total: 1m 37s	remaining: 13m 14s
109:	learn: 0.3796908	test: 0.4103946	best: 0.4103946 (109)	total: 1m 37s	remaining: 13m 11s
110:	learn: 0.3796164	test: 0.4103754	best: 0.4103754 (110)	total: 1m 38s	remaining: 13m 10s
111:	learn: 0.3795617	test: 0.4103584	best: 0.4103584 (111)	total: 1m 39s	remaining: 13m 11s
112:	learn: 0.3794224	test: 0.4104313	best: 0.4103584 (111)	total: 1m 40s	remaining: 13m 9s
113:	learn: 0.3793524	test: 0.4104126	best: 0.4103584 (111)	total: 1m 41s	remaining: 13m 8s
114:	learn: 0.3793270	test: 0.4104032	best: 0.4103584 (111)	total: 1m 42s	remaining: 13m 5s
115:	learn: 0.3791730	test: 0.4103664	best: 0.4103584 (111)	total: 1m 42s	remaining: 13m 2s
116:	learn: 0.3790939	test: 0.4103597	best: 0.4103584 (111)	total: 1m 43s	remaining: 13m 1s
117:	learn: 0.3789797	test: 0.4103475	best: 0.4103475 (117)	total: 1m 44s	remaining: 13m
118:	learn: 0.3789594	test: 0.4103383	best: 0.4103383 (118)	total: 1m 45s	remaining: 12m 59s
119:	learn: 0.3788775	test: 0.4103348	best: 0.4103348 (119)	total: 1m 46s	remaining: 12m 58s
120:	learn: 0.3788050	test: 0.4103026	best: 0.4103026 (120)	total: 1m 46s	remaining: 12m 57s
121:	learn: 0.3786874	test: 0.4102510	best: 0.4102510 (121)	total: 1m 47s	remaining: 12m 56s
122:	learn: 0.3786130	test: 0.4102503	best: 0.4102503 (122)	total: 1m 48s	remaining: 12m 55s
123:	learn: 0.3785752	test: 0.4102393	best: 0.4102393 (123)	total: 1m 49s	remaining: 12m 53s
124:	learn: 0.3785270	test: 0.4102394	best: 0.4102393 (123)	total: 1m 50s	remaining: 12m 51s
125:	learn: 0.3784175	test: 0.4102396	best: 0.4102393 (123)	total: 1m 51s	remaining: 12m 50s
126:	learn: 0.3782892	test: 0.4102453	best: 0.4102393 (123)	total: 1m 51s	remaining: 12m 49s
127:	learn: 0.3782240	test: 0.4102346	best: 0.4102346 (127)	total: 1m 52s	remaining: 12m 47s
128:	learn: 0.3781470	test: 0.4102569	best: 0.4102346 (127)	total: 1m 53s	remaining: 12m 47s
129:	learn: 0.3780913	test: 0.4102568	best: 0.4102346 (127)	total: 1m 54s	remaining: 12m 46s
130:	learn: 0.3779711	test: 0.4103597	best: 0.4102346 (127)	total: 1m 55s	remaining: 12m 45s
131:	learn: 0.3778605	test: 0.4103275	best: 0.4102346 (127)	total: 1m 56s	remaining: 12m 44s
132:	learn: 0.3778271	test: 0.4103163	best: 0.4102346 (127)	total: 1m 56s	remaining: 12m 41s
133:	learn: 0.3777121	test: 0.4103184	best: 0.4102346 (127)	total: 1m 57s	remaining: 12m 40s
134:	learn: 0.3776520	test: 0.4103206	best: 0.4102346 (127)	total: 1m 58s	remaining: 12m 39s
135:	learn: 0.3775696	test: 0.4102751	best: 0.4102346 (127)	total: 1m 59s	remaining: 12m 40s
136:	learn: 0.3775104	test: 0.4102715	best: 0.4102346 (127)	total: 2m	remaining: 12m 39s
137:	learn: 0.3774062	test: 0.4103638	best: 0.4102346 (127)	total: 2m 1s	remaining: 12m 37s
138:	learn: 0.3773601	test: 0.4103510	best: 0.4102346 (127)	total: 2m 2s	remaining: 12m 37s
139:	learn: 0.3772591	test: 0.4103444	best: 0.4102346 (127)	total: 2m 2s	remaining: 12m 35s
140:	learn: 0.3771434	test: 0.4103165	best: 0.4102346 (127)	total: 2m 3s	remaining: 12m 34s
141:	learn: 0.3770837	test: 0.4103439	best: 0.4102346 (127)	total: 2m 4s	remaining: 12m 34s
142:	learn: 0.3770363	test: 0.4103426	best: 0.4102346 (127)	total: 2m 5s	remaining: 12m 31s
143:	learn: 0.3768974	test: 0.4103296	best: 0.4102346 (127)	total: 2m 6s	remaining: 12m 30s
144:	learn: 0.3768467	test: 0.4103082	best: 0.4102346 (127)	total: 2m 7s	remaining: 12m 30s
145:	learn: 0.3767848	test: 0.4103089	best: 0.4102346 (127)	total: 2m 8s	remaining: 12m 28s
146:	learn: 0.3767433	test: 0.4103045	best: 0.4102346 (127)	total: 2m 8s	remaining: 12m 26s
147:	learn: 0.3766733	test: 0.4102918	best: 0.4102346 (127)	total: 2m 9s	remaining: 12m 25s
148:	learn: 0.3766488	test: 0.4102869	best: 0.4102346 (127)	total: 2m 10s	remaining: 12m 22s
149:	learn: 0.3765894	test: 0.4102974	best: 0.4102346 (127)	total: 2m 10s	remaining: 12m 21s
150:	learn: 0.3765496	test: 0.4102844	best: 0.4102346 (127)	total: 2m 11s	remaining: 12m 20s
151:	learn: 0.3764856	test: 0.4103069	best: 0.4102346 (127)	total: 2m 12s	remaining: 12m 19s
152:	learn: 0.3764264	test: 0.4103339	best: 0.4102346 (127)	total: 2m 13s	remaining: 12m 18s
153:	learn: 0.3763721	test: 0.4103245	best: 0.4102346 (127)	total: 2m 14s	remaining: 12m 16s
154:	learn: 0.3763180	test: 0.4104186	best: 0.4102346 (127)	total: 2m 14s	remaining: 12m 14s
155:	learn: 0.3763018	test: 0.4104144	best: 0.4102346 (127)	total: 2m 15s	remaining: 12m 14s
156:	learn: 0.3762486	test: 0.4104628	best: 0.4102346 (127)	total: 2m 16s	remaining: 12m 12s
157:	learn: 0.3761695	test: 0.4104333	best: 0.4102346 (127)	total: 2m 17s	remaining: 12m 10s
158:	learn: 0.3760980	test: 0.4105229	best: 0.4102346 (127)	total: 2m 17s	remaining: 12m 9s
159:	learn: 0.3760209	test: 0.4105301	best: 0.4102346 (127)	total: 2m 18s	remaining: 12m 9s
160:	learn: 0.3760079	test: 0.4105314	best: 0.4102346 (127)	total: 2m 19s	remaining: 12m 7s
161:	learn: 0.3759668	test: 0.4105255	best: 0.4102346 (127)	total: 2m 20s	remaining: 12m 6s
162:	learn: 0.3759309	test: 0.4105130	best: 0.4102346 (127)	total: 2m 21s	remaining: 12m 4s
163:	learn: 0.3758362	test: 0.4105305	best: 0.4102346 (127)	total: 2m 21s	remaining: 12m 2s
164:	learn: 0.3758035	test: 0.4105684	best: 0.4102346 (127)	total: 2m 22s	remaining: 12m 1s
165:	learn: 0.3757035	test: 0.4105927	best: 0.4102346 (127)	total: 2m 23s	remaining: 11m 59s
166:	learn: 0.3756626	test: 0.4105824	best: 0.4102346 (127)	total: 2m 24s	remaining: 11m 59s
167:	learn: 0.3755621	test: 0.4106030	best: 0.4102346 (127)	total: 2m 25s	remaining: 11m 59s
168:	learn: 0.3755346	test: 0.4105872	best: 0.4102346 (127)	total: 2m 26s	remaining: 11m 58s
169:	learn: 0.3754349	test: 0.4105916	best: 0.4102346 (127)	total: 2m 27s	remaining: 11m 58s
170:	learn: 0.3753365	test: 0.4106219	best: 0.4102346 (127)	total: 2m 28s	remaining: 11m 59s
171:	learn: 0.3752946	test: 0.4106846	best: 0.4102346 (127)	total: 2m 29s	remaining: 11m 57s
172:	learn: 0.3752716	test: 0.4106736	best: 0.4102346 (127)	total: 2m 29s	remaining: 11m 56s
173:	learn: 0.3751779	test: 0.4106724	best: 0.4102346 (127)	total: 2m 30s	remaining: 11m 55s
174:	learn: 0.3751385	test: 0.4107060	best: 0.4102346 (127)	total: 2m 31s	remaining: 11m 54s
175:	learn: 0.3750383	test: 0.4107435	best: 0.4102346 (127)	total: 2m 32s	remaining: 11m 54s
176:	learn: 0.3749817	test: 0.4107205	best: 0.4102346 (127)	total: 2m 33s	remaining: 11m 52s
177:	learn: 0.3749255	test: 0.4107293	best: 0.4102346 (127)	total: 2m 34s	remaining: 11m 51s
178:	learn: 0.3748186	test: 0.4107513	best: 0.4102346 (127)	total: 2m 34s	remaining: 11m 50s
179:	learn: 0.3747785	test: 0.4107478	best: 0.4102346 (127)	total: 2m 36s	remaining: 11m 50s
180:	learn: 0.3747380	test: 0.4107400	best: 0.4102346 (127)	total: 2m 36s	remaining: 11m 49s

181:	learn: 0.3746495	test: 0.4107177	best: 0.4102346 (127)	total: 2m 37s	remaining: 11m 48s
182:	learn: 0.3744598	test: 0.4107131	best: 0.4102346 (127)	total: 2m 38s	remaining: 11m 47s
183:	learn: 0.3743859	test: 0.4107299	best: 0.4102346 (127)	total: 2m 39s	remaining: 11m 48s
184:	learn: 0.3743476	test: 0.4105622	best: 0.4102346 (127)	total: 2m 40s	remaining: 11m 47s
185:	learn: 0.3742663	test: 0.4105690	best: 0.4102346 (127)	total: 2m 41s	remaining: 11m 46s
186:	learn: 0.3742459	test: 0.4105703	best: 0.4102346 (127)	total: 2m 42s	remaining: 11m 46s
187:	learn: 0.3742023	test: 0.4105682	best: 0.4102346 (127)	total: 2m 43s	remaining: 11m 44s
188:	learn: 0.3741180	test: 0.4105539	best: 0.4102346 (127)	total: 2m 44s	remaining: 11m 44s
189:	learn: 0.3740839	test: 0.4105365	best: 0.4102346 (127)	total: 2m 44s	remaining: 11m 42s
190:	learn: 0.3740550	test: 0.4105908	best: 0.4102346 (127)	total: 2m 45s	remaining: 11m 41s
191:	learn: 0.3740285	test: 0.4105925	best: 0.4102346 (127)	total: 2m 46s	remaining: 11m 40s
192:	learn: 0.3739918	test: 0.4105918	best: 0.4102346 (127)	total: 2m 47s	remaining: 11m 40s
193:	learn: 0.3739589	test: 0.4105943	best: 0.4102346 (127)	total: 2m 48s	remaining: 11m 38s
194:	learn: 0.3738909	test: 0.4105923	best: 0.4102346 (127)	total: 2m 49s	remaining: 11m 39s
195:	learn: 0.3738472	test: 0.4106036	best: 0.4102346 (127)	total: 2m 50s	remaining: 11m 39s
196:	learn: 0.3738213	test: 0.4106063	best: 0.4102346 (127)	total: 2m 51s	remaining: 11m 39s
197:	learn: 0.3737466	test: 0.4106072	best: 0.4102346 (127)	total: 2m 52s	remaining: 11m 38s
198:	learn: 0.3736944	test: 0.4106891	best: 0.4102346 (127)	total: 2m 53s	remaining: 11m 37s
199:	learn: 0.3736485	test: 0.4107190	best: 0.4102346 (127)	total: 2m 54s	remaining: 11m 36s
200:	learn: 0.3735860	test: 0.4107133	best: 0.4102346 (127)	total: 2m 55s	remaining: 11m 36s
201:	learn: 0.3735626	test: 0.4107492	best: 0.4102346 (127)	total: 2m 55s	remaining: 11m 35s
202:	learn: 0.3735285	test: 0.4107465	best: 0.4102346 (127)	total: 2m 56s	remaining: 11m 33s
203:	learn: 0.3734420	test: 0.4108072	best: 0.4102346 (127)	total: 2m 57s	remaining: 11m 32s
204:	learn: 0.3734180	test: 0.4108153	best: 0.4102346 (127)	total: 2m 58s	remaining: 11m 30s
205:	learn: 0.3732741	test: 0.4108390	best: 0.4102346 (127)	total: 2m 58s	remaining: 11m 29s
206:	learn: 0.3732371	test: 0.4109147	best: 0.4102346 (127)	total: 2m 59s	remaining: 11m 28s
207:	learn: 0.3732089	test: 0.4109105	best: 0.4102346 (127)	total: 3m	remaining: 11m 27s
208:	learn: 0.3731862	test: 0.4109080	best: 0.4102346 (127)	total: 3m 1s	remaining: 11m 26s
209:	learn: 0.3731125	test: 0.4109067	best: 0.4102346 (127)	total: 3m 2s	remaining: 11m 25s
210:	learn: 0.3730843	test: 0.4109498	best: 0.4102346 (127)	total: 3m 2s	remaining: 11m 24s
211:	learn: 0.3729961	test: 0.4109919	best: 0.4102346 (127)	total: 3m 4s	remaining: 11m 24s
212:	learn: 0.3729691	test: 0.4109925	best: 0.4102346 (127)	total: 3m 4s	remaining: 11m 22s
213:	learn: 0.3728267	test: 0.4109650	best: 0.4102346 (127)	total: 3m 5s	remaining: 11m 21s
214:	learn: 0.3727657	test: 0.4109582	best: 0.4102346 (127)	total: 3m 6s	remaining: 11m 21s
215:	learn: 0.3727488	test: 0.4109587	best: 0.4102346 (127)	total: 3m 7s	remaining: 11m 19s
216:	learn: 0.3727225	test: 0.4109531	best: 0.4102346 (127)	total: 3m 8s	remaining: 11m 19s
217:	learn: 0.3726102	test: 0.4110722	best: 0.4102346 (127)	total: 3m 9s	remaining: 11m 18s
218:	learn: 0.3725794	test: 0.4110706	best: 0.4102346 (127)	total: 3m 10s	remaining: 11m 17s
219:	learn: 0.3725606	test: 0.4110747	best: 0.4102346 (127)	total: 3m 10s	remaining: 11m 16s
220:	learn: 0.3724528	test: 0.4111163	best: 0.4102346 (127)	total: 3m 11s	remaining: 11m 15s
221:	learn: 0.3723967	test: 0.4111139	best: 0.4102346 (127)	total: 3m 12s	remaining: 11m 14s
222:	learn: 0.3723482	test: 0.4111139	best: 0.4102346 (127)	total: 3m 13s	remaining: 11m 13s
223:	learn: 0.3722835	test: 0.4111160	best: 0.4102346 (127)	total: 3m 14s	remaining: 11m 13s
224:	learn: 0.3721646	test: 0.4110938	best: 0.4102346 (127)	total: 3m 15s	remaining: 11m 11s
225:	learn: 0.3721399	test: 0.4110897	best: 0.4102346 (127)	total: 3m 15s	remaining: 11m 9s
226:	learn: 0.3721210	test: 0.4110880	best: 0.4102346 (127)	total: 3m 16s	remaining: 11m 8s
227:	learn: 0.3720735	test: 0.4110891	best: 0.4102346 (127)	total: 3m 17s	remaining: 11m 7s
bestTest = 0.4102345881
bestIteration = 127
Shrink model to first 128 iterations.

In [ ]:
len(lgbm_features)

In [ ]:
print('Plotting feature importances...')
ax = lgbm.plot_importance(model_lgb, max_num_features=10)
plt.show()

In [ ]:
best_features_indices = np.argsort(model_lgb.feature_importance())[::-1][0:5]
lgbm_features[best_features_indices]

In [151]:
test_w_cat_ids = test.set_index('item_id').join(items.set_index('item_id'))
test_w_cat_ids['date_block_num'] = 34

In [152]:
gc.collect()
def lagged_name(lag_column, lag):
    return "%s_lag_%d" % (lag_column, lag)

merge_columns = ['lagged_block','item_id','shop_id']

for lag in lags:
    print(lag)
    lagged = transactions.copy()
    lagged.rename(columns={'date_block_num':'lagged_block'},inplace=True)
    test_w_cat_ids['lagged_block'] = test_w_cat_ids['date_block_num'] - lag
    lagged_names = [lagged_name(c,lag) for c in lag_columns]
    lag_mapping = dict(zip(lag_columns, lagged_names))
    lagged.rename(columns=lag_mapping,inplace=True)
    test_w_cat_ids = pd.merge(test_w_cat_ids,lagged[lagged_names+merge_columns],on=merge_columns,how='left')
    del lagged
    gc.collect()

1
2
3
6
12

In [28]:
test_w_cat_ids.fillna(0, inplace=True)

In [29]:
test_w_cat_ids.head()

,ID,item_id,shop_id,item_name,item_category_id,date_block_num,lagged_block,y_lag_1,item_cnt_sum_lag_1,item_cnt_mean_lag_1,...,y_lag_12,item_cnt_sum_lag_12,item_cnt_mean_lag_12,item_price_mean_lag_12,shop_cnt_sum_lag_12,shop_cnt_mean_lag_12,shop_price_mean_lag_12,category_cnt_sum_lag_12,category_cnt_mean_lag_12,category_price_mean_lag_12
0,2587,30,5,007:,40,34,22,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0000,0.000000
1,7687,30,4,007:,40,34,22,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0000,0.000000
2,12787,30,6,007:,40,34,22,0.0,0.0,0.0,...,1.0,13.0,1.0,169.0,3150.0,1.379159,1262.87496,14815.0,1.0903,264.032958
3,17887,30,3,007:,40,34,22,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0000,0.000000
4,22987,30,2,007:,40,34,22,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0000,0.000000

In [ ]:
len(test_w_cat_ids)

In [ ]:
preds = model_lgb.predict(test_w_cat_ids[lgbm_features])
preds.clip(0,20,out=preds)

In [153]:
preds = cb_model.predict(test_w_cat_ids[lgbm_features])
preds.clip(0,20,out=preds)

array([0.12926339, 0.0639561 , 0.17324513, ..., 0.11329911, 0.14906362,
       0.07291897])

In [154]:
np.sum(preds)

22466.27820788094

In [155]:
submission = test.loc[:,['ID']]
submission['item_cnt_month'] = preds.astype(int)
#submission['item_cnt_month'] = ensemble_preds.astype(int)


submission.to_csv('submission.csv', index=False)